.version.mixers /* version checker */
{
	color: #00001D;
	background-color: #FF9022;
}

.html
{
	background: #FDC800 url("../images/pattern%202_poster_u6358.png") no-repeat center top fixed;
	background-size: cover;
}

.svg.html,.svg .html
{
	background-image: url('../images/pattern%202.svg');
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2117.8500000000004px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	padding-bottom: 62px;
}

#pu14610
{
	width: 0.01px;
	margin-left: -44px;
}

#u14610
{
	z-index: 10;
	width: 1038px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#khm270
{
	margin-left: 518px;
	position: relative;
}

#u8636
{
	z-index: 12;
	width: 1038px;
	background-color: transparent;
	margin-top: 82px;
	position: relative;
}

#u8636_clip
{
	overflow: hidden;
	width: 1038px;
	height: 740px;
}

#u8636_img
{
	margin-left: -15px;
	margin-right: 44px;
}

#u13524
{
	z-index: 18;
	position: fixed;
	top: 57px;
	left: 50%;
	margin-left: -19px;
	background: url("../images/u13524_states.png") no-repeat 0px 0px;
}

#u13524_states
{
	height: 35px;
	width: 72px;
	vertical-align: top;
}

#u13524:hover #u13524_states
{
	background: url("../images/u13524_states-r.png") no-repeat 0px 0px;
}

#u13535
{
	z-index: 21;
	height: 35px;
	width: 58px;
	vertical-align: top;
	position: fixed;
	top: 57px;
	left: 50%;
	margin-left: 54px;
	background: url("../images/u13535.png") no-repeat 0px 0px;
}

#u13535:hover
{
	background: url("../images/u13535-r.png") no-repeat 0px 0px;
}

#u13534
{
	z-index: 24;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 325px;
	background: url("../images/u13534_states.png") no-repeat 0px 0px;
}

#u13534_states
{
	height: 36px;
	width: 56px;
	vertical-align: top;
}

#u13534:hover #u13534_states
{
	background: url("../images/u13534_states-r.png") no-repeat 0px 0px;
}

#u13533
{
	z-index: 27;
	position: fixed;
	top: 69px;
	left: 50%;
	margin-left: 386px;
	background: url("../images/u13533_states.png") no-repeat 0px 0px;
}

#u13533_states
{
	height: 15px;
	width: 59px;
	vertical-align: top;
}

#u13533:hover #u13533_states
{
	background: url("../images/u13533_states-r.png") no-repeat 0px 0px;
}

#u13529
{
	z-index: 30;
	position: fixed;
	top: 59px;
	left: 50%;
	margin-left: 113px;
	background: url("../images/u13529_states.png") no-repeat 0px 0px;
}

#u13529_states
{
	height: 32px;
	width: 63px;
	vertical-align: top;
}

#u13529:hover #u13529_states
{
	background: url("../images/u13529_states-r.png") no-repeat 0px 0px;
}

#u13521
{
	z-index: 33;
	position: fixed;
	top: 53px;
	left: 50%;
	margin-left: 181px;
	background: url("../images/u13521_states.png") no-repeat 0px 0px;
}

#u13521_states
{
	height: 38px;
	width: 73px;
	vertical-align: top;
}

#u13521:hover #u13521_states
{
	background: url("../images/u13521_states-r.png") no-repeat 0px 0px;
}

#u13523
{
	z-index: 42;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 258px;
	background: url("../images/u13523_states.png") no-repeat 0px 0px;
}

#u13523_states
{
	height: 36px;
	width: 58px;
	vertical-align: top;
}

#u13523:hover #u13523_states
{
	background: url("../images/u13523_states-r.png") no-repeat 0px 0px;
}

#pu13520
{
	width: 0.01px;
	padding-bottom: 94px;
	margin-top: -840px;
}

#u13520
{
	z-index: 14;
	width: 954px;
	height: 94px;
	border-style: none;
	border-color: transparent;
	background-color: #EFEFEF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -480px;
}

#u14174-11
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 42px;
	left: 50%;
	margin-left: -472px;
}

#u13531
{
	z-index: 15;
	width: 122px;
	background-color: transparent;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: -319px;
}

#u13522
{
	z-index: 35;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 53px;
}

#u13528
{
	z-index: 37;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 112px;
}

#u13530
{
	z-index: 36;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 175px;
}

#u13525
{
	z-index: 39;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 256px;
}

#u13526
{
	z-index: 38;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 317px;
}

#u13527
{
	z-index: 40;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 386px;
}

#u14608
{
	z-index: 2;
	width: 988px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -39px;
	margin-top: 259px;
	position: relative;
}

#khm230
{
	margin-left: 446px;
	position: relative;
}

#u8624
{
	z-index: 4;
	width: 988px;
	background-color: transparent;
	margin-top: 83px;
	position: relative;
}

#u8624_clip
{
	overflow: hidden;
	width: 988px;
	height: 735px;
}

#u8624_img
{
	margin-left: -18px;
}

#u14609
{
	z-index: 6;
	width: 968px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 233px;
	position: relative;
}

#khm250
{
	margin-left: 473px;
	position: relative;
}

#u8630
{
	z-index: 8;
	width: 968px;
	background-color: transparent;
	margin-top: 82px;
	position: relative;
}

#u8630_clip
{
	overflow: hidden;
	width: 968px;
	height: 839px;
}

#u8630_img
{
	margin-left: -93px;
	margin-bottom: -28px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

