.version.oven_maicowaves /* version checker */
{
	color: #000014;
	background-color: #CCE44E;
}

.html
{
	background: #A86736 url("../images/pattern%202_poster_u6358.png") no-repeat center top fixed;
	background-size: cover;
}

.svg.html,.svg .html
{
	background-image: url('../images/pattern%202.svg');
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2805.9500000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	padding-bottom: 62px;
}

#pu13615
{
	width: 0.01px;
	padding-bottom: 94px;
	margin-left: 1px;
}

#u13615
{
	z-index: 15;
	width: 954px;
	height: 94px;
	border-style: none;
	border-color: transparent;
	background-color: #EFEFEF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -479px;
}

#u14180-11
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 42px;
	left: 50%;
	margin-left: -472px;
}

#u13626
{
	z-index: 16;
	width: 122px;
	background-color: transparent;
	position: fixed;
	top: 37px;
	left: 50%;
	margin-left: -318px;
}

#u13617
{
	z-index: 36;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 54px;
}

#u13623
{
	z-index: 38;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 113px;
}

#u13625
{
	z-index: 37;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 176px;
}

#u13620
{
	z-index: 40;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 257px;
}

#u13621
{
	z-index: 39;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 318px;
}

#u13622
{
	z-index: 41;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: 387px;
}

#pu14791
{
	width: 0.01px;
	margin-left: -43px;
	margin-top: -87px;
}

#u14791
{
	z-index: 2;
	width: 1048px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#kot828g
{
	margin-left: 507px;
	position: relative;
}

#u8796
{
	z-index: 3;
	width: 1048px;
	background-color: transparent;
	margin-top: 76px;
	position: relative;
}

#u8796_clip
{
	overflow: hidden;
	width: 1048px;
	height: 747px;
}

#u8796_img
{
	margin-left: -5px;
	margin-right: 58px;
}

#u13619
{
	z-index: 19;
	position: fixed;
	top: 57px;
	left: 50%;
	margin-left: -18px;
	background: url("../images/u13619_states.png") no-repeat 0px 0px;
}

#u13619_states
{
	height: 35px;
	width: 72px;
	vertical-align: top;
}

#u13619:hover #u13619_states
{
	background: url("../images/u13619_states-r.png") no-repeat 0px 0px;
}

#u13630
{
	z-index: 22;
	position: fixed;
	top: 57px;
	left: 50%;
	margin-left: 55px;
	background: url("../images/u13630_states.png") no-repeat 0px 0px;
}

#u13630_states
{
	height: 35px;
	width: 58px;
	vertical-align: top;
}

#u13630:hover #u13630_states
{
	background: url("../images/u13630_states-r.png") no-repeat 0px 0px;
}

#u13629
{
	z-index: 25;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 326px;
	background: url("../images/u13629_states.png") no-repeat 0px 0px;
}

#u13629_states
{
	height: 36px;
	width: 56px;
	vertical-align: top;
}

#u13629:hover #u13629_states
{
	background: url("../images/u13629_states-r.png") no-repeat 0px 0px;
}

#u13628
{
	z-index: 28;
	position: fixed;
	top: 69px;
	left: 50%;
	margin-left: 387px;
	background: url("../images/u13628_states.png") no-repeat 0px 0px;
}

#u13628_states
{
	height: 15px;
	width: 59px;
	vertical-align: top;
}

#u13628:hover #u13628_states
{
	background: url("../images/u13628_states-r.png") no-repeat 0px 0px;
}

#u13624
{
	z-index: 31;
	position: fixed;
	top: 59px;
	left: 50%;
	margin-left: 114px;
	background: url("../images/u13624_states.png") no-repeat 0px 0px;
}

#u13624_states
{
	height: 32px;
	width: 63px;
	vertical-align: top;
}

#u13624:hover #u13624_states
{
	background: url("../images/u13624_states-r.png") no-repeat 0px 0px;
}

#u13616
{
	z-index: 34;
	position: fixed;
	top: 53px;
	left: 50%;
	margin-left: 182px;
	background: url("../images/u13616_states.png") no-repeat 0px 0px;
}

#u13616_states
{
	height: 38px;
	width: 73px;
	vertical-align: top;
}

#u13616:hover #u13616_states
{
	background: url("../images/u13616_states-r.png") no-repeat 0px 0px;
}

#u13618
{
	z-index: 43;
	position: fixed;
	top: 55px;
	left: 50%;
	margin-left: 259px;
	background: url("../images/u13618_states.png") no-repeat 0px 0px;
}

#u13618_states
{
	height: 36px;
	width: 58px;
	vertical-align: top;
}

#u13618:hover #u13618_states
{
	background: url("../images/u13618_states-r.png") no-repeat 0px 0px;
}

#u14793
{
	z-index: 6;
	width: 972px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -24px;
	margin-top: 211px;
	position: relative;
}

#u14794
{
	z-index: 11;
	width: 972px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#kot838g
{
	margin-left: 518px;
	position: relative;
}

#u8808
{
	z-index: 13;
	width: 972px;
	background-color: transparent;
	margin-top: 80px;
	position: relative;
}

#u8808_clip
{
	overflow: hidden;
	width: 972px;
	height: 755px;
}

#u8808_img
{
	margin-left: -23px;
	margin-right: 21px;
	margin-bottom: 16px;
}

#u14792
{
	z-index: 7;
	width: 971px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 273px;
	position: relative;
}

#kot842g
{
	margin-left: 498px;
	position: relative;
}

#u8820
{
	z-index: 9;
	width: 971px;
	background-color: transparent;
	margin-top: 80px;
	position: relative;
}

#u8820_clip
{
	overflow: hidden;
	width: 971px;
	height: 756px;
}

#u8820_img
{
	margin-left: -47px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

