.version.tamas /* version checker */
{
	color: #00001E;
	background-color: #94DA9A;
}

.html
{
	background: #FFFFFF url("../images/pattern%202_poster_u7042.png") no-repeat center top fixed;
	background-size: cover;
}

.svg.html,.svg .html
{
	background-image: url('../images/pattern%202.svg');
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#ppu8977
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
}

#pu8977
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u8977
{
	z-index: 0;
	width: 961px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.12)/* glow */,
0px 7px 8px rgba(0, 0, 0, 0.16)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.12)/* glow */,
0px 7px 8px -1px rgba(0, 0, 0, 0.16)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.12)/* glow */,
0px 7px 8px rgba(0, 0, 0, 0.16)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.84);
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: absolute;
	top: 0px;
	bottom: 0px;
	-pie-background: rgba(255, 255, 255, 0.84);
}

#pcontact
{
	width: 0.01px;
	position: relative;
	padding-top: 82px;
	z-index: 2;
	padding-bottom: 44px;
}

#contact
{
	margin-left: 474px;
	position: relative;
}

#u8909
{
	z-index: 3;
	width: 960px;
	min-height: 222px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	border-radius: 17px;
	margin-top: 4px;
	position: relative;
}

#u8930
{
	z-index: 59;
	width: 193px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 738px;
	margin-top: 227px;
	position: relative;
}

#u8928
{
	z-index: 58;
	width: 281px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 646px;
	margin-top: 9px;
	position: relative;
}

#u8935
{
	z-index: 63;
	width: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 24px;
	position: relative;
}

#u8943
{
	z-index: 64;
	width: 921px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8945
{
	z-index: 65;
	width: 921px;
	border-style: none;
	border-color: transparent;
	background-color: #557C7E;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u8946-4
{
	z-index: 76;
	width: 111px;
	min-height: 16px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 79px;
}

#u8946-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 12px -10000px 0px 0px;
}

#u8947-4
{
	z-index: 72;
	width: 144px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 192px;
}

#u8947-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#u8946-4:hover p,#u8947-4:hover p
{
	color: #D5D5D5;
	visibility: inherit;
}

#u8944-6
{
	z-index: 66;
	width: 423px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 344px;
}

#u8944-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8944-2
{
	font-size: 15px;
	line-height: 18px;
}

#u8944,#u8944-3
{
	line-height: 17px;
}

#u8936
{
	z-index: 81;
	height: 36px;
	width: 35px;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 778px;
	background: url("../images/u8936.png") no-repeat 0px 0px;
}

#u8936:hover
{
	background: url("../images/u8936-r.png") no-repeat 0px 0px;
}

#u8940
{
	z-index: 84;
	height: 36px;
	width: 35px;
	vertical-align: top;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 811px;
	background: url("../images/u8940.png") no-repeat 0px 0px;
}

#u8940:hover
{
	background: url("../images/u8940-r.png") no-repeat 0px 0px;
}

#u8948
{
	z-index: 87;
	height: 36px;
	width: 35px;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 844px;
	background: url("../images/u8948.png") no-repeat 0px 0px;
}

#u8948:hover
{
	background: url("../images/u8948-r.png") no-repeat 0px 0px;
}

#u8938
{
	z-index: 90;
	height: 36px;
	width: 35px;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 877px;
	background: url("../images/u8938.png") no-repeat 0px 0px;
}

#u8938:hover
{
	background: url("../images/u8938-r.png") no-repeat 0px 0px;
}

#u8942-4
{
	z-index: 92;
	width: 42px;
	min-height: 12px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 344px;
}

#widgetu8911
{
	z-index: 4;
	width: 0.01px;
	height: 264px;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 21px;
}

#widgetu8914
{
	z-index: 5;
	width: 429px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu8914.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8917-4
{
	z-index: 6;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u8916-3
{
	z-index: 10;
	width: 415px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F6F6F6;
	background-color: rgba(242, 242, 242, 0.69);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	-pie-background: rgba(242, 242, 242, 0.69);
}

#widgetu8914.non-empty-st #u8916-3
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8914:hover #u8916-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 415px;
	margin: 17px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8914.focus-st #u8916-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 415px;
	margin: 17px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8914.fld-err-st #u8916-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 415px;
	margin: 17px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8914.non-empty-st #u8916-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8914:hover #u8916-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8914.focus-st #u8916-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8919
{
	z-index: 13;
	width: 429px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: -1px;
}

#widgetu8919.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 58px -10000px 0px 0px;
}

#u8922-4
{
	z-index: 14;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#widgetu8919.fld-err-st #u8922-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8920-3
{
	z-index: 18;
	width: 415px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F6F6F6;
	background-color: rgba(242, 242, 242, 0.69);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	-pie-background: rgba(242, 242, 242, 0.69);
}

#widgetu8919.non-empty-st #u8920-3
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8919:hover #u8920-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 415px;
	margin: 18px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8919.focus-st #u8920-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 415px;
	margin: 18px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8919.fld-err-st #u8920-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 415px;
	margin: 18px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8919.non-empty-st #u8920-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8919:hover #u8920-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8919.focus-st #u8920-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8914_input,#widgetu8919_input
{
	width: 415px;
	min-height: 14px;
	color: #C4C4C4;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u8913-4
{
	z-index: 21;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	text-align: right;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 140px;
}

#widgetu8911.frm-sub-st #u8913-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8912-4
{
	z-index: 25;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	text-align: right;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 140px;
}

#widgetu8911.frm-subm-err-st #u8912-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8927-4
{
	z-index: 29;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	text-align: right;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 140px;
}

#widgetu8911.frm-sub-st #u8913-4,#widgetu8911.frm-subm-err-st #u8912-4,#widgetu8911.frm-subm-ok-st #u8927-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu8911.frm-subm-ok-st #u8927-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u8918-17
{
	z-index: 33;
	min-height: 31px;
	width: 419px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	background: url("../images/u8918-17.png") no-repeat 0px 0px;
}

#u8918-17:hover
{
	background: url("../images/u8918-17-r.png") no-repeat 0px 0px;
}

#u8918-17:active
{
	background: url("../images/u8918-17-m.png") no-repeat 0px 0px;
}

#widgetu8911.frm-sub-st #u8918-17
{
	background: url("../images/u8918-17-fs.png") no-repeat 0px 0px;
}

#widgetu8923
{
	z-index: 50;
	width: 423px;
	height: 104px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: -1px;
}

#widgetu8923.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 115px -10000px 0px 0px;
}

#u8924-4
{
	z-index: 51;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#widgetu8914.fld-err-st #u8917-4,#widgetu8923.fld-err-st #u8924-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu8914.fld-err-st #u8917-4 p,#widgetu8914.fld-err-st #u8917-4 span,#widgetu8919.fld-err-st #u8922-4 p,#widgetu8919.fld-err-st #u8922-4 span,#widgetu8923.fld-err-st #u8924-4 p,#widgetu8923.fld-err-st #u8924-4 span
{
	color: #D7244C;
}

#u8925-3
{
	z-index: 55;
	width: 409px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F6F6F6;
	background-color: rgba(242, 242, 242, 0.69);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	-pie-background: rgba(242, 242, 242, 0.69);
}

#widgetu8923.non-empty-st #u8925-3
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8923:hover #u8925-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 409px;
	margin: 22px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8923.focus-st #u8925-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 409px;
	margin: 22px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8923.fld-err-st #u8925-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.69);
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 409px;
	margin: 22px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.69);
}

#widgetu8923.non-empty-st #u8925-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8923:hover #u8925-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8923.focus-st #u8925-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8914.fld-err-st #u8916-3 *,#widgetu8919.fld-err-st #u8920-3 *,#widgetu8923.fld-err-st #u8925-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu8923_input
{
	width: 409px;
	min-height: 68px;
	color: #C4C4C4;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu8914:hover #widgetu8914_input,#widgetu8914.focus-st #widgetu8914_input,#widgetu8914.fld-err-st #widgetu8914_input,#widgetu8919:hover #widgetu8919_input,#widgetu8919.focus-st #widgetu8919_input,#widgetu8919.fld-err-st #widgetu8919_input,#widgetu8923:hover #widgetu8923_input,#widgetu8923.focus-st #widgetu8923_input,#widgetu8923.fld-err-st #widgetu8923_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u8932
{
	z-index: 60;
	width: 477px;
	background-color: transparent;
	opacity: 0.82;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=82)";
	filter: alpha(opacity=82);
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 445px;
}

#u8969
{
	z-index: 106;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: -15px;
	background: url("../images/u8969_states.png") no-repeat 0px 0px;
}

#u8969_states
{
	height: 35px;
	width: 72px;
	vertical-align: top;
}

#u8969:hover #u8969_states
{
	background: url("../images/u8969_states-r.png") no-repeat 0px 0px;
}

#u8970
{
	z-index: 109;
	height: 35px;
	width: 58px;
	vertical-align: top;
	position: fixed;
	top: 58px;
	left: 50%;
	margin-left: 58px;
	background: url("../images/u8970.png") no-repeat 0px 0px;
}

#u8970:hover
{
	background: url("../images/u8970-r.png") no-repeat 0px 0px;
}

#u8972
{
	z-index: 116;
	position: fixed;
	top: 70px;
	left: 50%;
	margin-left: 390px;
	background: url("../images/u8972_states.png") no-repeat 0px 0px;
}

#u8972_states
{
	height: 15px;
	width: 59px;
	vertical-align: top;
}

#u8972:hover #u8972_states
{
	background: url("../images/u8972_states-r.png") no-repeat 0px 0px;
}

#u8973
{
	z-index: 119;
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: 117px;
	background: url("../images/u8973_states.png") no-repeat 0px 0px;
}

#u8973_states
{
	height: 32px;
	width: 63px;
	vertical-align: top;
}

#u8973:hover #u8973_states
{
	background: url("../images/u8973_states-r.png") no-repeat 0px 0px;
}

#u8974
{
	z-index: 122;
	position: fixed;
	top: 54px;
	left: 50%;
	margin-left: 185px;
	background: url("../images/u8974_states.png") no-repeat 0px 0px;
}

#u8974_states
{
	height: 38px;
	width: 73px;
	vertical-align: top;
}

#u8974:hover #u8974_states
{
	background: url("../images/u8974_states-r.png") no-repeat 0px 0px;
}

#u8975
{
	z-index: 125;
	position: fixed;
	top: 56px;
	left: 50%;
	margin-left: 262px;
	background: url("../images/u8975_states.png") no-repeat 0px 0px;
}

#u8975_states
{
	height: 36px;
	width: 58px;
	vertical-align: top;
}

#u8975:hover #u8975_states
{
	background: url("../images/u8975_states-r.png") no-repeat 0px 0px;
}

#pu8959
{
	width: 0.01px;
	padding-bottom: 94px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -1px;
}

#u8959
{
	z-index: 96;
	width: 961px;
	height: 94px;
	border-style: none;
	border-color: transparent;
	background-color: #EFEFEF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -481px;
}

#u8960
{
	z-index: 97;
	width: 122px;
	background-color: transparent;
	position: fixed;
	top: 41px;
	left: 50%;
	margin-left: -440px;
}

#u8962
{
	z-index: 99;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 66px;
	left: 50%;
	margin-left: 59px;
}

#u8964
{
	z-index: 101;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 66px;
	left: 50%;
	margin-left: 118px;
}

#u8963
{
	z-index: 100;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 66px;
	left: 50%;
	margin-left: 181px;
}

#u8966
{
	z-index: 103;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 66px;
	left: 50%;
	margin-left: 262px;
}

#u8965
{
	z-index: 102;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 66px;
	left: 50%;
	margin-left: 323px;
}

#u8971-4
{
	z-index: 111;
	position: fixed;
	top: 56px;
	left: 50%;
	margin-left: 329px;
}

#u8971-4_img
{
	display: block;
	vertical-align: top;
}

#u8967
{
	z-index: 104;
	width: 1px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: fixed;
	top: 66px;
	left: 50%;
	margin-left: 392px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

